<html>
    <style>
        .title1 {
            font-size : 20px;
            font-weight: 900;
        }
        .title2 {
            font-size : 15px;
            font-weight: 900;
        }
        .normal {
            font-size : 12px;
            font-weight: 900;
        }
        .centralize {
            text-align: center;
        }
        .hidden {
            display: none;
        }
        @page {
            margin:0cm;
        }
    </style>
    <!-- <script src="http://localhost:3000/thuyvu2709.github.io/vendor/JsBarcode/JsBarcode.all.min.js"></script> -->
    <script src="https://thuyvu2709.github.io/vendor/JsBarcode/JsBarcode.all.min.js"></script>
    <body>
        <div class="title1 centralize">THUYTITVU SHOP</div>
        <div class="title2 centralize">XÁCH TAY HÀNG Ý PHÁP ĐỨC MỸ</div>
        <div class="normal centralize">Mã GHTK: S15549745.HN2-C8.1763781030</div>
        <!-- <svg id="barcode" class="centralize"></svg> -->
        <div class="normal">Người nhận hàng: Lê Văn Thanh</div>
        <div class="normal">ĐT: 0376180193</div>
        <div class="normal">ĐC: 34 Trường chinh, Xuân Hòa, Phúc Yên, Vĩnh Phúc</div>
        <div class="normal">Ghi chú: Hàng dễ vỡ, vui lòng nhẹ tay, không cho khách mở hàng</div>
        <div class="hidden" id="fullLabel">1752881969</div>
        <div class="centralize">~❀~</div>
    </body>
    <script src="http://localhost:3000/thuyvu2709.github.io/js/printerAPI-genBarcode.js"></script>
</html>